nbproject/private/
nbproject/Makefile-*
nbproject/configs/
build/
dist/

target/

.idea/
*.iml
*.ipr
*.iws
.vscode/
*.class
*.log

.DS_Store
Thumbs.db

*.swp
*.swo
*.bak

*.jar
*.war
*.ear

docs/

*.user